
.modal {
    position: absolute; 
    top: 50px; 
    left: 500px; 
    width: 100vh;
    height: 80vh;
    background-color: rgba(3, 3, 3, 0.9); 
    z-index: 1000; 
    border-radius: 8px;
}

.content-modal {
    height: 100%;
    display: flex;
}

.image{
    width: 50%;
}

.image img{ 
    height: 100%;
    border-radius: 8px;
}

.info{
    color: rgb(46, 160, 33);
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.contacto-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}